@import url('https://fonts.googleapis.com/css?family=Roboto:500');

*{
	font-family: 'Roboto', sans-serif;
}

body{
	/*background-image: url(iphonex.jpg);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;*/
	background-color: #2E2E2E;
}


.thumbnail{
	padding: 0px;
	margin: 0px;
}
.btnDanger{
	/*position: absolute;*/
	
	margin: 0px;


}
.titreCadre{
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.grandCadre, .largeCadreAlaffiche{
	margin-top: 100px;
}

.alaffiche{
	color:white;
	padding: 0px;
	margin: 0px;
}

.box:hover {
	transform: translateY(3px);
}

.imgBox:hover{
	opacity: 0.5;
	transition: 0.5s;
	transform: translateY(3px);
}

.box{
	overflow: hidden;
}

.textRecommandation{
	color: white;
}

.cadre{
	/*border:grey solid 1px;*/
}

.menuFixe{
	margin-top: 20px;
	padding: 0px;
}

h3, h6{
	color: white;
}

h5{
	padding: 0px;
}

.pticadre{
	background-color: #131111;
}

.trimestre{
	padding: 0px;	
}

.agenda{
	padding: 0px;
	color: white;
	margin-top: 2px;
	
}

.titreAlaffiche{
	color:  #7C6A19;
}

.prochainEvenement{
	padding: 0px;
	/*background-color:;*/
	color:  #7C6A19;
	margin-top: 2px;
}

.divTADLA{
	padding: 0px;
	margin: 0px;
}

.TitreAgenda, .TitreEvenement{
	color: white;
	padding: 0px;
}

.dateEtLieuAgenda{
	color: grey;
	padding: 0px;
	margin: 0px;
}

.dateEtLieuPE{
	/*color: grey;*/
	padding: 0px;
	margin: 0px;
}

.TitreProchainEvenement{
	padding: 3px;
	margin: 0px;
}

.imgProchainEvenement{
	padding: 0px;
	margin: 0px;
}

.timePE{
	color: grey;
	padding: 0px;
	margin-top: 8px;
}
.timePEAL{
	padding: 0px;
	margin: 0px;
	color: #E20102;
	/*background-color: #E20102;*/
}

.idh1{
	/*position: center;*/
	/*text-align: center;*/
	text-align: center;
	margin: 25% 25% 25% 25%;
	/*margin-top: 21.5%;*/
	/*margin-left: 25%;*/
	position: absolute;
	z-index: 2;
	background-color: black;
	color: white;
	font-size: 50px;
	/*-webkit-filter: sepia(100%);  Safari 6.0 - 9.0 
  	filter: sepia(100%);
*/  font-family: 'Roboto', sans-serif;
  	opacity: 0.8;
  	border-radius: 5px;
  	padding: 0px;
  	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.5);
  	box-shadow:10px 10px 5px 0px rgba(0,0,0,0.5);;
}
.idh2{
	
	-webkit-filter: sepia(100%);  Safari 6.0 - 9.0 
  	filter: sepia(100%);
  	
}

h1{
	padding: 0px;
	margin: 0px;
}

img {
 /* -webkit-filter: sepia(100%);  Safari 6.0 - 9.0 
  filter: sepia(100%);*/
  padding: 0px;
  margin: 0px;
}

.row{
	padding: 0px;
	margin: 0px;
}
#phydel00{
	

}

#phydel01,#phydel02{
		
		margin: 0px;
		padding: 0 0;
		
}
	
#phydel011,#phydel012,#phydel013,#phydel014,#phydel015,#phydel016{
	
	padding: 0px;
}
#phydel0111,#phydel0112,#phydel0113,#phydel0114,#phydel0115,#phydel0116{
	margin: 0 0;
	
}


.container {
  /*background: #e3e3e3;*/
  margin-bottom: 20px;
  padding-bottom: 50px;
}
h1, h4 {
  text-align: center;
  margin-bottom: 50px;
}
h1 i {
  color: pink;
}
